@charset "UTF-8";

/* Pontos de interrupção típicos de dispositivos
Telas pequenas - Até 600px
Celular - 600px até 768px
Tablet - 768px até 992px
Desktop - 992px até 1200px
Grandes telas - Acima de 1200px
*/

:root{
    --branco: #ffffff;
    --preto: #000000;
    --cinza-escuro: #333333;
    --azul-claro: #0789E8;
    --azul-medio: #0751F2;
    --azul-escuro: #121BDB;
    --violeta: #3B07F2;
    --roxo: #7607E8;

    --fonte-titulo: 'Secular One', sans-serif;
    --fonte-nome: 'Archivo Black', sans-serif;
    --fonte-padrao: 'Geologica', sans-serif;
}


@media screen and (max-width: 768px) /*Celular*/{

    /* SESSÃO HOME */

    div.apresentacao{
        display: inline-block;
        margin-top: 45%;
        margin-left: 15%;
        text-align: center;
        /* margin: auto; */
    }

    .ola {
        font: var(--fonte-padrao);
        font-size: 1.5rem;
    }
    
    .escrever {
        font: var(--fonte-nome);
        font-size: 3rem;
        color: var(--azul-escuro);
        font-weight: bold;
    }
    
    .front {
        font: var(--fonte-padrao);
        font-size: 1.5rem;
    }

    .btn-linkedin{
        display: inline-block;
        padding: 15px 25px;
        margin-bottom: 10rem;
        margin-top: 1rem;
        margin-left: 16%;
        border: 2px solid var(--azul-medio);
        border-radius: 5px;
        background-color: var(--preto);
        color: var(--branco);
        text-decoration: none;
        font-size: 1.1rem;
    }

    .container img {
        display: none;
    }

    /* SESSÃO SOBRE */

    .div-sobre{
        margin: auto;
        color: var(--branco);
        border-top: 3px solid var(--azul-medio);
        padding-top: 8rem;
    }
    
    
    .sobre{
        margin: auto;
        margin-top: -50px;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: -5px;
        text-shadow: 1px 2px 1px var(--azul-claro);
    }
    
    .pedro{
        display: inline-block;
        margin-left: 11% ;
        margin-top: 70px;
        border-left: 7px solid var(--azul-claro);
        border-radius: 5px;
    }
    
    .pedro img{
        display: block;
        max-width: 300px;
        max-height: 380px;
        width: auto;
        height: auto;
    }
    
    .texto-sobre{
        display: block;
        background-color: var(--cinza-escuro);
        text-align: justify;
        width:  60% /*700px*/;
        height: 370px;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 40px;
        margin-left: 10%;
        margin-top: 12%;
        border-radius: 20px;
        opacity: 85%;
    }
    
    .email {
        display: inline-block;
        background-color: var(--preto);
        border: 2px solid var(--violeta);
        border-radius: 10px;
        padding: 10px;
        margin-left: 12%;
        margin-top: 20px;
        margin-bottom: 300px;
    }
    
    .baixar-cv{
        display: block;
        width: 280px;
        padding-top: 10px;
        margin-left: 12%;
        margin-top: -290px;
        border: 2px solid var(--azul-escuro);
        border-radius: 10px;
        background-color: var(--preto);
        color: var(--branco);
        text-decoration: none;
        text-align: center;
    }

    /* SESSÃO EXPERIÊNCIA */

    .section-exp{
        margin-bottom: 240px;
    }
    
    .div-exp{
        margin-top: 50px;
        margin-bottom: 90px;
        border-top: 3px solid var(--azul-medio);
    }
    
    .exp{
        margin-left: 20px;
        margin-top: 50px;
        /* margin-bottom: -30px; */
        text-align: center;
        font-size: 2.5rem;
        text-shadow: 1px 2px 1px var(--azul-claro);
    }

    .btn-celcoin{
        margin-left: 130px;
        padding: 10px;
        padding-right: 53px;
        border: 2px solid var(--azul-claro);
        text-decoration: none;
        color: var(--branco);
    }
    
    .nexp{
        margin-left: 130px;
        margin-top:22px;
    }
    
    .btn-nexp{
        margin-top: 800px;
        padding: 10px;
        border: 2px solid var(--azul-claro);
        text-decoration: none;
        color: var(--branco);  
    }

    .cargo-celcoin{
        display: block;
        font-weight: bold;
        color: var(--azul-claro);
        margin-left: 0px;
        margin-top: 80px;
        margin-bottom: 0px;
        text-align: center;
    }

    .dados-celcoin{
        display: block;
        margin-left: 55px;
        margin-top: 20px;
        margin-bottom: 90px;
        width: 300px;
        text-align: justify;
    }

    .nome-celcoin{
        margin-top: 10px;
    }
    
    .data-celcoin{
        margin-top: 10px;
        color: var(--roxo);
        font-weight: bold;
    }
    
    .text-celcoin{
        margin-top: 10px;
    }

    .nova-exp{
        display: none;
        margin-left: 55px;
        margin-top: 20px;
        margin-bottom: 90px;
        width: 300px;
        text-align: center;
        color: var(--azul-claro);
    }
    
    .novo-job{
        margin-top: 40px;
        text-align: justify;
        color: var(--branco);
    }

    /* SESSÃO PROJETOS */

    .projetos{
        border-top: 3px solid var(--azul-medio)
    }
    
    .text-projetos{
        /* text-align: center; */
        margin-left: 120px;
        margin-top: 50px;
        font-size: 2.5rem;
        margin-bottom: -30px;
        text-shadow: 1px 2px 1px var(--azul-claro);
    }

    .p1{
        width: 300px;
        height: 350px;
        margin-top: 80px;
        margin-left: 50px;
        background-color: var(--cinza-escuro);
        border: 3px solid var(--branco);
        border-radius: 30px;
    }
    
    .p2{
        width: 300px;
        height: 350px;
        margin-top: 50px;
        margin-left: 50px;
        background-color: var(--cinza-escuro);
        border: 3px solid var(--branco);
        border-radius: 30px;
    }
    
    .p3{
        width: 300px;
        height: 350px;
        margin-top: 50px;
        margin-left: 50px;
        background-color: var(--cinza-escuro);
        border: 3px solid var(--branco);
        border-radius: 30px;
    }

    .p4{
        display: none;
        width: 300px;
        height: 350px;
        margin-top: 50px;
        margin-left: 50px;
        background-color: var(--cinza-escuro);
        border: 3px solid var(--branco);
        border-radius: 30px;
    }
    
    .p5{
        display: none;
        width: 300px;
        height: 350px;
        margin-top: 50px;
        margin-left: 50px;
        background-color: var(--cinza-escuro);
        border: 3px solid var(--branco);
        border-radius: 30px;
    }
    
    .p6{
        display: none;
        width: 300px;
        height: 350px;
        margin-top: 50px;
        margin-left: 50px;
        background-color: var(--cinza-escuro);
        border: 3px solid var(--branco);
        border-radius: 30px;
    }

    .img-brv1 {
        display: block;
        margin-top: 100px;
        max-width: 290px;
        width: auto;
    }
    
    .img-brv2 {
        display: block;
        margin-top: 100px;
        max-width: 290px;
        width: auto;
    }
    
    .img-brv3 {
        display: block;
        margin-top: 100px;
        max-width: 290px;
        width: auto;
    }
    
    .img-brv4 {
        display: block;
        margin-top: 100px;
        max-width: 290px;
        width: auto;
    }
    
    .img-brv5 {
        display: block;
        margin-top: 100px;
        max-width: 290px;
        width: auto;
    }
    
    .img-brv6 {
        display: block;
        margin-top: 100px;
        max-width: 290px;
        width: auto;
    }

    .mais-projetos{
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    
    .projetos-novos{
        font-size: 1.2rem;
        text-decoration: none;
        color:var(--branco);
    }
    
    .projetos-novos:hover{
        font-size: 1.2rem;
        text-decoration: underline;
        color:var(--branco);
    }



}