@charset "UTF-8";

/* Pontos de interrupção típicos de dispositivos
Telas pequenas - Até 600px
Celular - 600px até 768px
Tablet - 768px até 992px
Desktop - 992px até 1200px
Grandes telas - Acima de 1200px
*/

:root{
    --branco: #ffffff;
    --preto: #000000;
    --cinza-escuro: #333333;
    --azul-claro: #0789E8;
    --azul-medio: #0751F2;
    --azul-escuro: #121BDB;
    --violeta: #3B07F2;
    --roxo: #7607E8;

    --fonte-titulo: 'Secular One', sans-serif;
    --fonte-nome: 'Archivo Black', sans-serif;
    --fonte-padrao: 'Geologica', sans-serif;
}


@media screen and (max-width: 768px) /*Celular*/{

    /* ABA HOME DO SITE */

    div.apresentacao{
        display: inline-block;
        margin-top: 45%;
        margin-left: 15%;
        text-align: center;
        /* margin: auto; */
    }

    .ola {
        font: var(--fonte-padrao);
        font-size: 1.5rem;
    }
    
    .escrever {
        font: var(--fonte-nome);
        font-size: 3rem;
        color: var(--azul-escuro);
        font-weight: bold;
    }
    
    .front {
        font: var(--fonte-padrao);
        font-size: 1.5rem;
    }

    .btn-linkedin{
        display: inline-block;
        padding: 15px 25px;
        margin-bottom: 10rem;
        margin-top: 1rem;
        margin-left: 16%;
        border: 2px solid var(--azul-medio);
        border-radius: 5px;
        background-color: var(--preto);
        color: var(--branco);
        text-decoration: none;
        font-size: 1.1rem;
    }

    .container img {
        display: none;
    }

    /* ABA SOBRE MIM DO SITE */

    .div-sobre{
        margin: auto;
        color: var(--branco);
        border-top: 3px solid var(--azul-medio);
        padding-top: 8rem;
    }
    
    
    .sobre{
        margin: auto;
        margin-top: -50px;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: -5px;
        text-shadow: 1px 2px 1px var(--azul-claro);
    }
    
    .pedro{
        display: inline-block;
        margin-left: 55px ;
        margin-top: 70px;
        border-left: 7px solid var(--azul-claro);
        border-radius: 5px;
    }
    
    .pedro img{
        display: block;
        max-width: 300px;
        max-height: 380px;
        width: auto;
        height: auto;
    }
    
    .texto-sobre{
        display: block;
        background-color: var(--cinza-escuro);
        text-align: justify;
        width:  60% /*700px*/;
        height: 370px;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 40px;
        margin-left: 11%;
        margin-top: 12%;
        border-radius: 20px;
        opacity: 85%;
    }
    
    .email {
        display: inline-block;
        background-color: var(--preto);
        border: 2px solid var(--violeta);
        border-radius: 10px;
        padding: 10px;
        margin-left: 12%;
        margin-top: 20px;
        margin-bottom: 300px;
    }
    
    .baixar-cv{
        display: block;
        width: 280px;
        padding-top: 10px;
        margin-left: 12%;
        margin-top: -290px;
        border: 2px solid var(--azul-escuro);
        border-radius: 8px;
        background-color: var(--preto);
        color: var(--branco);
        text-decoration: none;
        text-align: center;
    }

}