@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;700;900&display=swap');

:root{
    --branco: #ffffff;
    --preto: #000000;
    --cinza-escuro: #333333;
    --azul-claro: #0789E8;
    --azul-medio: #0751F2;
    --azul-escuro: #121BDB;
    --violeta: #3B07F2;
    --roxo: #7607E8;

    --fonte-titulo: 'Secular One', sans-serif;
    --fonte-nome: 'Archivo Black', sans-serif;
    --fonte-padrao: 'Geologica', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-padrao);
    color: var(--branco);
    background-color: var(--preto);
}

/* SESSÃO HOME */

header{
    width: 100%;
    font-size: 1rem;
    text-shadow: 1px 1px 1px var(--preto);
    border-bottom: 2px solid var(--azul-escuro);
}

.painel{
    background-color: var(--cinza-escuro);
    padding: 1.5rem;
}

nav a{
    padding: 0.5rem;
    background-color: var(--cinza-escuro);
    color: var(--branco);
    text-decoration: none;
    border-radius: 4px;
}

nav a:hover{
    padding: 1rem;
    background-color: #4d4c4c;
    color: var(--branco);
    text-decoration: none;
    margin-left: 0px;
    margin-right: 0px;
}

div.apresentacao{
    display: inline-block;
    margin-top: 8%;
    margin-left: 8%;
}

.ola {
    font: var(--fonte-padrao);
    font-size: 2.5rem;
}

.escrever {
    font: var(--fonte-nome);
    font-size: 4rem;
    color: var(--azul-escuro);
    font-weight: bold;
}

.front {
    font: var(--fonte-padrao);
    font-size: 2.5rem;
}

.btn-linkedin{
    display: inline-block;
    padding: 15px 25px;
    margin-top: 1rem;
    margin-left: 12rem;
    border: 2px solid var(--azul-medio);
    border-radius: 5px;
    background-color: var(--preto);
    color: var(--branco);
    text-decoration: none;
    font-size: 1.1rem;
}

.btn-github{
    display: inline-block;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 1.5rem;
    border: 2px solid var(--roxo);
    border-radius: 5px;
    background-color: var(--preto);
    color: var(--branco);
    text-decoration: none;
    font-size: 1.1rem;
}

.container img {
    display: block;
    max-width: 577px;
    max-height: 433px;
    margin-left: 50%;
    margin-top: -25%;
}

/* SESSÃO SOBRE */

.section-sobre{
    margin-top: 6rem;
}


.div-sobre{
    margin: auto;
    color: var(--branco);
    border-top: 3px solid var(--azul-medio);
    padding-top: 8rem;
}


.sobre{
    margin-left: 430px;
    font-size: 2.5rem;
    margin-bottom: -55px;
    text-shadow: 1px 2px 1px var(--azul-claro);
}

.pedro{
    display: inline-block;
    margin-left: 80px;
    margin-top: 10px;
    border-left: 7px solid var(--azul-claro);
    border-radius: 5px;
}

.pedro img{
    display: block;
    max-width: 300px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.texto-sobre{
    display: block;
    background-color: var(--cinza-escuro);
    text-align: justify;
    width:  55% /*700px*/;
    height: 150px;
    padding-right: 70px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 420px;
    margin-top: -310px;
    border-radius: 20px;
    opacity: 85%;
}

.email {
    display: inline-block;
    background-color: var(--preto);
    border: 2px solid var(--violeta);
    border-radius: 10px;
    padding: 10px;
    margin-left: 420px;
    margin-top: 20px;
    margin-bottom: 300px;
}

.baixar-cv{
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    border: 2px solid var(--azul-escuro);
    border-radius: 8px;
    background-color: var(--preto);
    color: var(--branco);
    text-decoration: none;
}

/* SESSÃO EXPERIÊNCIA */


.section-exp{
    margin-bottom: 240px;
}

.div-exp{
    margin-top: -100px;
    margin-bottom: 90px;
    border-top: 3px solid var(--azul-medio);
}

.exp{
    margin-left: 150px;
    margin-top: 200px;
    font-size: 2.5rem;
    margin-bottom: -30px;
    text-shadow: 1px 2px 1px var(--azul-claro);
}

.btn-celcoin{
    margin-left: 150px;
    padding: 10px;
    padding-right: 53px;
    border: 2px solid var(--azul-claro);
    text-decoration: none;
    color: var(--branco);
}

.nexp{
    margin-left: 150px;
    margin-top:22px;
}

.btn-nexp{
    margin-top: 800px;
    padding: 10px;
    border: 2px solid var(--azul-claro);
    text-decoration: none;
    color: var(--branco);  
}

.dados-celcoin{
    display: block;
    margin-left: 355px;
    margin-top: -80px;
    margin-bottom: 90px;
    width: 800px;
    text-align: justify;
}

.cargo-celcoin{
    font-weight:bold ;
    color: var(--azul-claro);
    margin-left: 350px;
    margin-top: -80px;
    margin-bottom: 80px;
}

.nome-celcoin{
    margin-top: 5px;
}

.data-celcoin{
    margin-top: 5px;
    color: var(--roxo);
    font-weight: bold;
}

.text-celcoin{
    margin-top: 5px;
}

.nova-exp{
    display: none;
    margin-left: 285px;
    margin-top: -230px;
    margin-bottom: 90px;
    width: 800px;
    text-align: justify;
}

.novo-job{
    margin-top: 50px;
}

/*
.projetos{
    margin: auto;
    border-top: 3px solid var(--azul-medio)
}

.text-projetos{
    margin-left: 150px;
    margin-top: 120px;
    font-size: 2.5rem;
    margin-bottom: -30px;
    text-shadow: 1px 2px 1px var(--azul-claro);
}

.p1{
    width: 300px;
    height: 350px;
    margin-top: 60px;
    margin-left: 150px;
    background-color: var(--cinza-escuro);
    border: 3px solid var(--branco);
    border-radius: 30px;
}

.p2{
    width: 300px;
    height: 350px;
    margin-top: -355px;
    margin-left: 500px;
    background-color: var(--cinza-escuro);
    border: 3px solid var(--branco);
    border-radius: 30px;
}

.p3{
    width: 300px;
    height: 350px;
    margin-top: -355px;
    margin-left: 850px;
    background-color: var(--cinza-escuro);
    border: 3px solid var(--branco);
    border-radius: 30px;
}

.p4{
    display: none;
    width: 300px;
    height: 350px;
    margin-top: 30px;
    margin-left: 150px;
    background-color: var(--cinza-escuro);
    border: 3px solid var(--branco);
    border-radius: 30px;
}

.p5{
    display: none;
    width: 300px;
    height: 350px;
    margin-top: -350px;
    margin-left: 500px;
    background-color: var(--cinza-escuro);
    border: 3px solid var(--branco);
    border-radius: 30px;
}

.p6{
    display: none;
    width: 300px;
    height: 350px;
    margin-top: -355px;
    margin-left: 850px;
    background-color: var(--cinza-escuro);
    border: 3px solid var(--branco);
    border-radius: 30px;
}


.img-brv1 {
    display: block;
    margin-top: 100px;
    max-width: 290px;
    width: auto;
}

.img-brv2 {
    display: block;
    margin-top: 100px;
    max-width: 290px;
    width: auto;
}

.img-brv3 {
    display: block;
    margin-top: 100px;
    max-width: 290px;
    width: auto;
}

.img-brv4 {
    display: block;
    margin-top: 100px;
    max-width: 290px;
    width: auto;
}

.img-brv5 {
    display: block;
    margin-top: 100px;
    max-width: 290px;
    width: auto;
}

.img-brv6 {
    display: block;
    margin-top: 100px;
    max-width: 290px;
    width: auto;
}

.mais-projetos{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.projetos-novos{
    text-decoration: none;
    color:var(--branco);
}

.projetos-novos:hover{
    text-decoration: underline;
    color:var(--branco);
}

.footer{
    display: block;
    background-color: var(--cinza-escuro);
    padding: 10px;
    text-shadow: 1px 1px black;
}

.text-footer{
    text-align: center;
}

.nome-pedro{
    text-decoration: none;
    color: var(--branco);
}

.nome-pedro:hover{
    color: var(--azul-claro);
    font-size: 1.05rem;
    text-shadow: 1px 1px var(--violeta);
}
*/