@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;700;900&display=swap');

:root{
    --branco: #ffffff;
    --preto: #000000;
    --cinza-escuro: #333333;
    --azul-claro: #0789E8;
    --azul-medio: #0751F2;
    --azul-escuro: #121BDB;
    --violeta: #3B07F2;
    --roxo: #7607E8;

    --fonte-titulo: 'Secular One', sans-serif;
    --fonte-nome: 'Archivo Black', sans-serif;
    --fonte-padrao: 'Geologica', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-padrao);
    color: var(--branco);
    background-color: var(--preto);
}

header{
    font-size: 1rem;
    text-shadow: 1px 1px 1px var(--preto);
    border-bottom: 2px solid var(--azul-escuro);
}

.painel{
    background-color: var(--cinza-escuro);
    padding: 1.5rem;
    margin-bottom: 0px;
}

.logo-site{
    color: var(--branco);
    margin: auto;
}

nav a{
    padding: 1.25rem;
    background-color: var(--cinza-escuro);
    color: var(--branco);
    text-decoration: none;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 4px;
}

nav a:hover{
    padding: 1.25rem;
    background-color: #4d4c4c;
    color: var(--branco);
    text-decoration: none;
    margin-left: 0px;
    margin-right: 0px;
}

h1.home{
    margin: 3rem;
    color: var(--violeta);
}